h1, h2, h3, h4, p, li{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

p{
  font-size: 1em;
}

li{
  list-style: none;
  margin-left: none;
}

select, option{
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#container{
  display: flex;
  flex-direction: row;
}

#map{
  width : 60%;
  height: 100vh;
}

#sidepanel{
  width: 39%;
  margin-left: 20px;
}

#parklist{
  padding-left: 0;
}

.marker{
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 50% 50% 50% 0;
  background: #9dc183;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.marker::after{
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #0b6623;
    position: absolute;
    border-radius: 50%;
}

.marker:hover{
  opacity: 1;
  border: 3px solid #8f0909;
  cursor: pointer;
}

.marker:focus{
  background: #f05d5d;
}

.markerDetails{
  display: none;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  width: 250px;
}

.markerDetails::selection{
  display: block;
}

.fas{
    font-family: FontAwesome;
    font-style: normal;
    color: #9dc183;
    margin-right: 10px;
  }

.wikiInfo{
    display: none;
    font-size: 1em;
    padding: 0 5%;
  }

.filter{
  font-size: 18px;
}

.reference{
  font-size:12px;
  font-style: italic;
  color: #D3D3D3;
}



@keyframes bounce {
  0%
    {opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);}
  60%
    {opacity: 1;
    transform: translateY(30px) rotate(-45deg);}
  80%
    {transform: translateY(-10px) rotate(-45deg);}
  100%
    {transform: translateY(0) rotate(-45deg);}
}

@media only screen and (max-width: 700px){
  #container{flex-direction: column-reverse;}
  #map{width: 100%; height: 50vh;}
  #sidepanel{width: 100%;}
  h1 {
      font-size: 1.5em;
  }

  h2 {
      font-size: 1.2em;
  }

  h3 {
      font-size: 1.0em;
  }

  h4 {
      font-size: 0.8em;
  }

  p{
    font-size: 0.5em;
  }
}
